<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key ="filePath" value ="D:\TournamentTracker"/>
		<add key ="greaterWins" value ="1"/>
		<add key="senderEmail" value="francisco.3.fernandes@gmail.com"/>
		<add key="senderDisplayName" value="Francisco Fernandes"/>
	</appSettings>
	<connectionStrings>
		<system.net>
			<mailSettings>
				<smtp deliveryMethod="Network">
					<network host="127.0.0.1" userName ="Francisco" password="testing" port="25" enableSSL="false"/>
				</smtp>
			</mailSettings>
		</system.net>
		<add name ="Tournaments" connectionString ="Server = .\sqlexpress; Database=Tournaments; Trusted_Connection = true; TrustServerCertificate=True;" providerName="System.Data.SqlClient"   />
	</connectionStrings>
</configuration>